/* Remove the navbar's default rounded borders and increase the bottom margin */

.navbar {
    margin-bottom: 50px;
    border-radius: 0;
}

.navbar-nav>li>a {
    font-size: 18px;
}

#myNavbar>ul>li.active>a {
    color: yellow;
}

/* Remove the jumbotron's default bottom margin */

.jumbotron {
    margin-bottom: 0;
    /*background-color: black;*/
}

/* Add a gray background color and some padding to the footer */

footer {
    background-color: #f2f2f2;
    padding: 25px;
}

body {
    /*background-color: yellow;*/
}

h2 {
    background-color: yellow;
    color: black;
}

#logo {
    height: 70px;
    width: 70px;
}

#link {
    color: red;
    text-align: right;
}

#status {
    color: red;
    text-align: center;
}

#troll {
    /*width: 200px;*/
}

#agreement {
    text-align: center;
}

#contact h1 {
    text-align: center;
}

#address {
    font-size: 18px;
    text-align: center;
}
