/* Remove the navbar's default rounded borders and increase the bottom margin */
* {
    font-family: 'Comfortaa', cursive;
}
.navbar {
    margin-bottom: 50px;
    border-radius: 0;
}

.navbar-nav>li>a {
    font-size: 18px;
}

#myNavbar>ul>li.active>a {
    color: yellow;
}

/* Remove the jumbotron's default bottom margin */

.jumbotron {
    margin-bottom: 0;
    /*background-color: black;*/
}

/* Add a gray background color and some padding to the footer */

footer {
    background-color: #f2f2f2;
    padding: 25px;
}

body {
    /*background-color: yellow;*/
}

h2 {
    background-color: yellow;
    color: black;
}

#logo {
    height: 90px;
    width: 90px;
}

#link {
    color: red;
    text-align: right;
}

#status {
    color: red;
    text-align: center;
}

#troll {
    /*width: 200px;*/
}

#agreement {
    text-align: center;
}

#contact h1 {
    text-align: center;
}

#address {
    font-size: 18px;
    text-align: center;
}

@media screen and (max-width: 768px) {
    #title {
    }
}
/*红橙黄绿青蓝紫*/
@keyframes title-color {
    0% {color: red;}
    16% {color: orange;}
    32% {color: yellow;}
    48% {color: green;}
    64% {color: cyan;}
    80% {color: blue;}
    100% {color: blue;}
}

@keyframes descrip-color {
    0% {color: black;}
    100% {color: yellow;}
    
}

#title {
    font-weight: 900;
    font-size: 90px;
    /*color: red;*/
    animation-name: title-color;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#descrip {
    font-weight: bold;
    font-size: 180%;
    color: black;
    animation-name: descrip-color;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

